ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero-1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
}

.header ul {
    display: flex;
    font-size: 18px;
    gap: 20px;
}

.header a {
    color: #e5e7eb;
}

.head-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-content img {
    width: 25%;
    height: 250px;
}

.head-text {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
}

.head-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.head-text p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 25px;
    margin: 0;
    padding: 0;
}

.head-text button {
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: none;
    color: #f9faf8;
    background-color: #3882f6;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.hero-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-2 h2 {
    font-size: 36px;
    font-weight: bold;
}

.illustration-1 img {
    width: 150px;
    height: auto;
}

.illustration-2 img {
    width: 140px;
    height: auto;
}

.illustration-3 img {
    width: 150px;
    height: auto;
}

.illustration-4 img {
    width: 150px;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.illustration-1 {
    display: flex;
    flex-direction: column;
}

.illustration-2 {
    display: flex;
    flex-direction: column;
}

.illustration-3 {
    display: flex;
    flex-direction: column;
}

.illustration-4 {
    display: flex;
    flex-direction: column;
}