body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.hero-1 {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding-bottom: 75px;
}

.header {
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    color: #f9faf8;
    align-items: center;
}

.header ul {
    display: flex;
    font-size: 18px;
    gap: 20px;
}

.header a {
    color: #e5e7eb;
}

.head-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-content img {
    width: 25%;
    height: 250px;
}

.head-text {
    display: flex;
    flex-direction: column;
    flex-basis: 35%;
}

.head-text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.head-text p {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 25px;
    margin: 0;
    padding: 0;
}

.head-text button {
    border-radius: 5px;
    width: 100px;
    height: 25px;
    border: none;
    color: #f9faf8;
    background-color: #3882f6;
    align-self: flex-start;
    margin: 0;
    padding: 0;
    margin-top: 10px;
}

.hero-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 90px;
}

.hero-2 h2 {
    font-size: 36px;
    font-weight: bold;
}

.illustration-1 img {
    width: 150px;
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.illustration-2 img {
    width: 140px;
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.illustration-3 img {
    width: 150px;
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.illustration-4 img {
    width: 150px;
    height: auto;
    border: 2px solid #3882f6;
    border-radius: 5px;
    margin-bottom: 5px;
}

.main-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

.illustration-1 {
    display: flex;
    flex-direction: column;
}

.illustration-2 {
    display: flex;
    flex-direction: column;
}

.illustration-3 {
    display: flex;
    flex-direction: column;
}

.illustration-4 {
    display: flex;
    flex-direction: column;
}

.hero-3 {
    height: 275px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    margin-bottom: 90px;
}

.quote {
    display: flex;
}

.quote-text {
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.author {
    display: flex;
    align-items: flex-end;
    font-weight: bold;
}

.hero-4-box {
    display: flex;
    justify-content: center;
}

.hero-4 {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
}

.hero-4 button {
    width: 100px;
    height: 25px;
    border: 1px solid #f9faf8;
    border-radius: 5px;
    color: #f9faf8;
    background-color: #3882f6;
}

.call-out {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
    color:#f9faf8;
}

.call-out p {
    color: #e5e7eb;
    margin: 0;
    font-size: 12px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}